In [26]:
import pandas as pd

# Cargar los archivos usando la ruta correcta
level1_df = pd.read_excel('level1.xlsx')
level1_df1=level1_df.iloc[:,[0,1,2,4,6,8,10]]
level1_df1
level1_df2=level1_df1.drop([0,1,2,4,5])
level1_df2
new_header=level1_df2.iloc[0]
new_header
level1_df2.columns = new_header
level1_df2.drop(level1_df2.index[0], inplace=True)
level1_df2= level1_df2.rename(columns={'Expected years of schooling': 'EXPECT', 'Gross national income (GNI) per capita': 'GNI',"HDI rank":"HDI 2020","Life expectancy at birth":"LIFE"})
styled_level1_df2 = level1_df2.style.format({'EXPECT': "{:,.1f}", 'GNI': "{:,.0f}", 'HDI 2020': "{:.3f}", 'LIFE': "{:,.1f}"})
styled_level1_df2

In [27]:
import pandas as pd

# Cargar los archivos usando la ruta correcta
level2_df = pd.read_excel('level2.xlsx')
level2_df=level2_df.iloc[:,[0,1,2,3,4,5,7]]
level2_df= level2_df.drop(index=0)
level2_df= level2_df.drop(index=1)
level2_df= level2_df.rename(columns={'Expected years of schooling': 'EXPECT', 'Gross national income (GNI) per capita': 'GNI',"HDI rank":"HDI 2020","Life expectancy at birth":"LIFE"})
styled_level2_df = level2_df.style.format({'EXPECT': "{:,.1f}", 'GNI': "{:,.0f}", 'HDI 2020': "{:.3f}", 'LIFE': "{:,.1f}"})
styled_level2_df

In [28]:
import pandas as pd
level3_df = pd.read_excel('level3.xlsx')
level3_df=level3_df.iloc[:,[0,1,2,4,6,8,10]]
level3_df= level3_df.drop(index=1)
level3_df= level3_df.drop(index=0)
level3_df= level3_df.rename(columns={'Expected years of schooling': 'EXPECT', 'Gross national income (GNI) per capita': 'GNI',"HDI rank":"HDI 2020","Life expectancy at birth":"LIFE"})
styled_level3_df = level3_df.style.format({'EXPECT': "{:,.1f}", 'GNI': "{:,.0f}", 'HDI 2020': "{:.3f}", 'LIFE': "{:,.1f}"})
styled_level3_df

In [29]:
import pandas as pd

# Cargar los archivos usando la ruta correcta
level4_df = pd.read_excel('level4.xlsx')
level4_df=level4_df.iloc[:,[0,1,3,4,5,6,7]]
level4_df= level4_df.rename(columns={'Expected years of schooling': 'EXPECT', 'Gross national income (GNI) per capita': 'GNI',"HDI rank":"HDI 2020","Life expectancy at birth":"LIFE"})
styled_level4_df = level4_df.style.format({'EXPECT': "{:,.1f}", 'GNI': "{:,.0f}", 'HDI 2020': "{:.3f}", 'LIFE': "{:,.1f}"})
styled_level4_df

In [25]:
append_data_df = pd.concat([level1_df2, level2_df, level3_df, level4_df], ignore_index=True)
styled_append_data_df = append_data_df.style.format({'EXPECT': "{:,.1f}", 'GNI': "{:,.0f}", 'HDI 2020': "{:.3f}", 'LIFE': "{:,.1f}"})
styled_append_data_df

In [17]:
import pandas as pd
country_codes_df = pd.read_excel('countryCODES.xlsx')
country_codes_df['Country'] = country_codes_df['Country'].str.title()
country_codes_df

,Country,Officialstatename,InternetccTLD,iso2,iso3
0,Afghanistan,The Islamic Republic of Afghanistan,.af,AF,AFG
1,Albania,The Republic of Albania,.al,AL,ALB
2,Algeria,The People's Democratic Republic of Algeria,.dz,DZ,DZA
3,Angola,The Republic of Angola,.ao,AO,AGO
4,Antigua And Barbuda,Antigua and Barbuda,.ag,AG,ATG
...,...,...,...,...,...
166,Uzbekistan,The Republic of Uzbekistan,.uz,UZ,UZB
167,Viet Nam,The Socialist Republic of Viet Nam,.vn,VN,VNM
168,Yemen,The Republic of Yemen,.ye,YE,YEM
169,Zambia,The Republic of Zambia,.zm,ZM,ZMB
170,Zimbabwe,The Republic of Zimbabwe,.zw,ZW,ZWE

In [22]:
merged_df = pd.merge(append_data_df, country_codes_df, on='Country', how='left')
merged_df= merged_df.drop(index=3)
merged_df= merged_df.drop(index=187)
merged_df= merged_df.drop(index=188)
styled_merged_df = merged_df.style.format({'EXPECT': "{:,.1f}", 'GNI': "{:,.0f}", 'HDI 2020': "{:.3f}", 'LIFE': "{:,.1f}"})
styled_merged_df.to_excel('styled_merged_df.xlsx', index=False)  # Guardar en Excel
styled_merged_df

In [ ]:
import pandas as pd
fallecidos_df = pd.read_csv('fallecidosCOVID.csv')
# Asumiendo que la columna concatenada se llama 'columna_concatenada'
columnas = ['FECHA_CORTE','FECHA_FALLECIMIENTO','EDAD_DECLARADA','SEXO','CLASIFICACION_DEF','DEPARTAMENTO','PROVINCIA','DISTRITO','UBIGEO','UUID']
fallecidos_df[columnas] = fallecidos_df['FECHA_CORTE;FECHA_FALLECIMIENTO;EDAD_DECLARADA;SEXO;CLASIFICACION_DEF;DEPARTAMENTO;PROVINCIA;DISTRITO;UBIGEO;UUID'].str.split(';', expand=True)
# Eliminar la columna original
fallecidos_df = fallecidos_df.drop(columns=['FECHA_CORTE;FECHA_FALLECIMIENTO;EDAD_DECLARADA;SEXO;CLASIFICACION_DEF;DEPARTAMENTO;PROVINCIA;DISTRITO;UBIGEO;UUID'])
fallecidos_df

,FECHA_CORTE,FECHA_FALLECIMIENTO,EDAD_DECLARADA,SEXO,CLASIFICACION_DEF,DEPARTAMENTO,PROVINCIA,DISTRITO,UBIGEO,UUID
0,20240317,20220219,63,MASCULINO,Criterio virológico,TUMBES,TUMBES,TUMBES,240101,203506
1,20240317,20210529,74,MASCULINO,Criterio virológico,TUMBES,TUMBES,TUMBES,240101,203532
2,20240317,20210623,72,FEMENINO,Criterio SINADEF,TACNA,TACNA,ALTO DE LA ALIANZA,230102,203584
3,20240317,20210824,85,MASCULINO,Criterio investigación Epidemiológica,TUMBES,TUMBES,TUMBES,240101,212541
4,20240317,20210627,46,MASCULINO,Criterio virológico,TACNA,TACNA,ALTO DE LA ALIANZA,230102,203665
...,...,...,...,...,...,...,...,...,...,...
220913,20240317,20200809,77,MASCULINO,Criterio radiológico,AREQUIPA,AREQUIPA,ALTO SELVA ALEGRE,040102,
220914,20240317,20201028,81,MASCULINO,Criterio clínico,LAMBAYEQUE,CHICLAYO,CHICLAYO,140101,
220915,20240317,20200515,68,FEMENINO,Criterio SINADEF,LIMA,LIMA,LA MOLINA,150114,
220916,20240317,20210414,66,FEMENINO,Criterio clínico,LIMA,LIMA,LOS OLIVOS,150117,
220917,20240317,20200819,61,MASCULINO,Criterio nexo epidemiológico,PIURA,PIURA,TAMBO GRANDE,200114,

In [24]:
import pandas as pd

fallecidos_df = pd.read_csv('fallecidosCOVID.csv')

columnas = ['FECHA_CORTE','FECHA_FALLECIMIENTO','EDAD_DECLARADA','SEXO','CLASIFICACION_DEF','DEPARTAMENTO','PROVINCIA','DISTRITO','UBIGEO','UUID']
fallecidos_df[columnas] = fallecidos_df['FECHA_CORTE;FECHA_FALLECIMIENTO;EDAD_DECLARADA;SEXO;CLASIFICACION_DEF;DEPARTAMENTO;PROVINCIA;DISTRITO;UBIGEO;UUID'].str.split(';', expand=True)

fallecidos_df = fallecidos_df.drop(columns=['FECHA_CORTE;FECHA_FALLECIMIENTO;EDAD_DECLARADA;SEXO;CLASIFICACION_DEF;DEPARTAMENTO;PROVINCIA;DISTRITO;UBIGEO;UUID'])
fallecidos_df['FECHA_FALLECIMIENTO'] = pd.to_datetime(fallecidos_df['FECHA_FALLECIMIENTO'], format='%Y%m%d', errors='coerce')

fallecidos_df['YearMonth'] = fallecidos_df['FECHA_FALLECIMIENTO'].dt.strftime('%Y-%m')

reporte_mensual = fallecidos_df.groupby('YearMonth')['UUID'].count().reset_index()

reporte_mensual.columns = ['YearMonth', 'Fallecidos']
styled_reporte_mensual = reporte_mensual.style.format({'Fallecidos': lambda x: f"{x:,.0f}" if x >= 1000 else f"{x}"})

styled_reporte_mensual.to_excel('styled_reporte_mensual.xlsx', index=False)  # Guardar en Excel
styled_reporte_mensual

In [ ]:
import pandas as pd

fallecidos_df = pd.read_csv('fallecidosCOVID.csv')

columnas = ['FECHA_CORTE','FECHA_FALLECIMIENTO','EDAD_DECLARADA','SEXO','CLASIFICACION_DEF','DEPARTAMENTO','PROVINCIA','DISTRITO','UBIGEO','UUID']
fallecidos_df[columnas] = fallecidos_df['FECHA_CORTE;FECHA_FALLECIMIENTO;EDAD_DECLARADA;SEXO;CLASIFICACION_DEF;DEPARTAMENTO;PROVINCIA;DISTRITO;UBIGEO;UUID'].str.split(';', expand=True)

fallecidos_df = fallecidos_df.drop(columns=['FECHA_CORTE;FECHA_FALLECIMIENTO;EDAD_DECLARADA;SEXO;CLASIFICACION_DEF;DEPARTAMENTO;PROVINCIA;DISTRITO;UBIGEO;UUID'])

fallecidos_df['FECHA_FALLECIMIENTO'] = pd.to_datetime(fallecidos_df['FECHA_FALLECIMIENTO'], format='%Y%m%d', errors='coerce')

fallecidos_df['YearMonth'] = fallecidos_df['FECHA_FALLECIMIENTO'].dt.strftime('%Y-%m')

reporte_mensual = pd.pivot_table(fallecidos_df, values='UUID', index='YearMonth', columns='CLASIFICACION_DEF', aggfunc='count', fill_value=0)

reporte_mensual = reporte_mensual.rename(columns={'UUID': 'Fallecidos'})
reporte_mensual=reporte_mensual.iloc[:,[0,1,2,3,4,6]]

reporte_mensual

CLASIFICACION_DEF,Criterio SINADEF,Criterio clínico,Criterio investigación Epidemiológica,Criterio nexo epidemiológico,Criterio radiológico,Criterio virológico
YearMonth,,,,,,
2020-03,35,52,25,2,7,58
2020-04,1793,541,498,68,182,1274
2020-05,6826,1152,1427,203,480,3042
2020-06,5722,670,1706,251,391,3117
2020-07,5012,609,1512,262,415,3190
2020-08,4589,611,1456,208,534,2870
2020-09,1984,475,755,105,233,1402
2020-10,1091,463,469,50,172,809
2020-11,704,462,307,37,186,666
2020-12,802,547,171,41,179,1098
2021-01,2190,514,323,107,434,5159
2021-02,4993,501,465,150,556,9441
2021-03,6100,525,517,229,456,11161
2021-04,7450,748,591,246,363,12224
2021-05,5225,628,349,155,283,8877
2021-06,2723,116,123,51,138,3825
2021-07,1025,113,67,35,68,1652
2021-08,578,75,22,15,36,837
2021-09,554,12,0,0,0,384
2021-10,469,12,0,0,0,437
2021-11,441,16,0,0,0,493
2021-12,585,8,0,0,0,557
2022-01,1894,22,0,0,0,1605
2022-02,1604,20,0,0,0,1878
2022-03,352,6,0,0,0,941
2022-04,131,9,0,0,0,601
2022-05,85,3,0,0,0,537
2022-06,81,3,0,0,0,458
2022-07,299,3,0,0,0,723
2022-08,405,6,0,0,0,1018
2022-09,154,12,0,0,0,726
2022-10,53,59,0,0,0,317
2022-11,23,0,0,0,0,249
2022-12,66,0,0,0,0,357
2023-01,34,1,0,0,0,336
2023-02,4,0,0,0,0,283
2023-03,6,0,0,0,0,289
2023-04,17,0,0,0,0,320
2023-05,6,0,0,0,0,317
2023-06,2,0,0,0,0,289
2023-07,3,0,0,0,0,255
2023-08,7,0,0,0,0,242
2023-09,7,0,0,0,0,53
2023-10,8,0,0,0,0,18
2023-11,13,0,0,0,0,20
2023-12,17,0,0,0,0,22
2024-01,35,0,0,0,0,83
2024-02,1,0,0,0,0,45
2024-03,0,0,0,0,0,2